body {
	background-image: url("./background.png");
	background-repeat: no-repeat;
}

table {
	margin-top: 96px;
	margin-left: 12px;
	border-collapse: collapse;
	table-layout: fixed;
}

td {
	height: 95px;
	width: 95px;
	padding: 0px;
}

img {
	height: 92px;
	width: 92px;
	display: block;
}

div {
	text-align: center;
}

.secret {
	height: 92px;
	width: 92px;
	background: transparent;
	border: none !important;
	font-size: 0;
}

